* {
  box-sizing: border-box;
}

#app {
  margin: 20px;
}

.add-todo {
  padding-bottom: 20px;
  border-bottom: 1px solid #444;
  margin-bottom: 20px;
}

.add-todo input {
  display: inline-block;
  width: 75%;
  border: 1px solid #fd8080;
  border-radius: 3px 0 0 3px;
  padding: 10px 5px;
}

.add-todo button {
  display: inline-block;
  width: 25%;
  border: 1px solid #fd8080;
  border-left: none;
  border-radius: 0 3px 3px 0;
  padding: 10px 0;
  color: white;
  background-color: #fd8080;
}

.todo {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #eee;
  margin-bottom: 5px;
  padding: 10px 5px;
}

.todo input {
  display: block;
  margin-right: 10px;
}

.todo label {
  display: block;
  width: 100%;
}

.todo label[data-isComplete="true"] {
  color: #888;
  text-decoration: line-through;
}

.todo button {
  display: block;
  background-color: #444;
  border: none;
  color: white;
  padding: 5px;
  border-radius: 3px;
}